<h1 class="mt-3">

    Pipes <small>Angular</small></h1>
<hr>

<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Variable</th>
                    <th>Pipe</th>
                    <th>Salida</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!--Coreccion de nombre-->
                    <td>{{nombre2}}</td>
                    <td>Capitalizado</td>
                    <td>{{nombre2|capitalizado:true}}</td>
                </tr>
                <tr>
                    <!--Convierte a mayus-->
                    <td>{{nombre}}</td>
                    <td>UpperCase</td>
                    <td>{{nombre|uppercase}}</td>
                </tr>
                <tr>
                    <!--Convierte a minus-->
                    <td>{{nombre}}</td>
                    <td>LowerCase</td>
                    <td>{{nombre|lowercase}}</td>
                </tr>
                <tr>
                    <!--Recorta el texto en x posiciones o desde x a y posiciones-->
                    <td>{{nombre}}</td>
                    <td>slice: 3</td>
                    <td>{{nombre|slice:3}}</td>
                </tr>
                <tr>
                    <!--Recorta el texto en x posiciones o desde x a y posiciones-->
                    <td>{{nombre}}</td>
                    <td>slice:0:3</td>
                    <td>{{nombre|slice:0:3}}</td>
                </tr>
                <tr>
                    <!--Tambien funciona en numeros"-->
                    <td>{{arreglo}}</td>
                    <td>slice:0:5</td>
                    <td>{{arreglo|slice:0:5}}</td>
                </tr>
                <tr>
                    <!--Recorta o agranda el numero de enteros
                      y/o decimales"-->
                    <td>{{PI}}</td>
                    <td>number</td>
                    <td>{{PI|number:'3.0-0'}}</td>
                </tr>
                <tr>
                    <!--Solo especifica los decimales, agarra todos
                    los enteros"-->
                    <td>{{PI}}</td>
                    <td>number</td>
                    <td>{{PI|number:'.0-4'}}</td>
                </tr>
                <tr>
                    <!--Convierte decimales a porcentaje"-->
                    <td>{{porcentaje}}</td>
                    <td>percent</td>
                    <td>{{porcentaje|percent}}</td>
                </tr>
                <tr>
                    <!--Se puede especificar formato"-->
                    <td>{{porcentaje}}</td>
                    <td>percent</td>
                    <td>{{porcentaje|percent:'2.2-2'}}</td>
                </tr>
                <tr>
                    <!--Convierte a moneda (dollar)-->
                    <td>{{salario}}</td>
                    <td>currency</td>
                    <td>{{salario|currency}}</td>
                </tr>
                <tr>
                    <!--Se puede especificar simbolo de 
                      la region-->
                    <td>{{salario}}</td>
                    <td>currency='EUR'</td>
                    <td>{{salario | currency:'EUR'}}</td>
                </tr>
                <tr>
                    <!--Se puede especificar simbolo de 
                    la region y recortar decimales-->
                    <td>{{salario}}</td>
                    <td>currency='CAD'</td>
                    <td>{{salario | currency:'CAD':'symbol':'.0-0'}}</td>
                </tr>
                <tr>
                    <!--Espera a que la promesa 
                      retorne el valor para colorcarla-->
                    <td>Promesa</td>
                    <td>async</td>
                    <td>{{valorPromesa|async}}</td>
                </tr>
                <tr>
                    <!--Transforma la fecha-->
                    <td>{{fecha}}</td>
                    <td>date</td>
                    <td>{{fecha|date}}</td>
                </tr>
                <tr>
                    <!--Transforma la fecha-->
                    <td>{{fecha}}</td>
                    <td>date medium</td>
                    <td>{{fecha|date:'medium'}}</td>
                </tr>
                <tr>
                    <!--Transforma la fecha-->
                    <td>{{fecha}}</td>
                    <td>date short</td>
                    <td>{{fecha|date:'short'}}</td>
                </tr>
                <tr>
                    <!--Transforma la fecha-->
                    <td>{{fecha}}</td>
                    <td>date personal</td>
                    <td>{{fecha|date:' MMMM-dd '}}</td>
                </tr>
                <tr>
                    <!--Transforma la fecha e idioma-->
                    <td>{{fecha}}</td>
                    <td>date personal ingles</td>
                    <td>{{fecha|date:'MMMM-dd':'':'en'}}</td>
                </tr>
                <tr>
                    <!--Manera dinamica de cambiar idioma jsjsjs-->
                    <td>date con botones</td>
                    <td>
                        date:'MMMM-dd':'':'{{idioma}}'
                        <br>
                        <button (click)="idioma='es'" class="mg-1 btn btn-primary">Español</button>
                        <button (click)="idioma='fr'" class="mg-1 btn btn-secondary">Frances</button>
                        <button (click)="idioma='en'" class="mg-1 btn btn-success">Ingles</button>
                    </td>
                    <td>{{fecha|date:'MMMM-dd':'':idioma}}</td>
                </tr>
                <tr>
                    <!--Transforma la fecha e idioma-->
                    <td>{{nombre}}</td>
                    <td>contraseña: {{activar}}
                        <br>
                        <button (click)="activar= !activar" butn btn-primary>
                            Activar/Desactivar
                        </button>
                    </td>
                    <td>{{nombre|password:activar}}</td>

                </tr>
            </tbody>
        </table>
        <hr>

        <h4>Slice</h4>
        <!--Tambien hace esto-->
        <ul>
            <li *ngFor="let i of arreglo | slice:5:20">{{i}}</li>
        </ul>

        <h3>JSON</h3>
        <!--Tradue los objetos JSON-->
        <hr>
        <div class="row mb-5">
            <div class="col">
                <pre>
                {{heroe | json}}
              </pre>
            </div>
        </div>

        <h3 class="mt-4">Dom Seguro</h3>
        <hr>
        <div class="row mb-5">
            <div class="col">
                <iframe width="560" height="315" [src]="videoURL|domseguro" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</div>